.button {
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5B5B5C;
  border-radius: 10px;
  border: none;
  color: #FFF;
  cursor: pointer;
};